<link rel="stylesheet" href="/main.css">
<nav>
    <a href="/">CodeSnips Home</a>
     <!--test-->
    <a href="/create">Create a Snippet</a>
    <a href="/logout">Logout</a>

</nav>




<div class="createContainer">
    <form class="" action="/create" method="post">
        Title: <input type="text" name="title" value="{{title}}" placeholder="Everything needs a name!"><br>
        Description: <input type="text" name="description" value="{{description}}" placeholder="Write a quick description"><br>
        Language: <input type="text" name="language" value="{{language}}"placeholder="What language is this snippet written in?"><br>
        CodeSnip: <textarea name="code" rows="20" cols="80" value= "{{code}}" placeholder="Jot something down!"></textarea><br>
        Tags: <input type="text" name="tags" value="{{tags}}">
        <button type="submit" name="button">Create Snip</button>
    </form>
</div>


{{#tags}}{{.}} {{/tags}}



<!-- <nav>
    <a href="/">CodeSnip Home</a>
    <a href='/profile/:id'>{{username}}'s Profile</a>
    <a href="/logout">Logout</a>
    <br>
    <br>
    <hr>
    <br>
    <form action="/action_page.php" method="get">
      Search: <input type="text" name="fname"><br>
      <button type="submit">See all snippets</button>
      <button type="submit" formmethod="post" formaction="/action_page_post.php">Search by Tag/Keyword </button>
      <button type="submit" formmethod="post" formaction="/action_page_post.php">Search by Language</button>
      <button type="submit" formmethod="post" formaction="/action_page_post.php">Search by </button>
    </form>
</nav>

{{#snippet}}
<div class="newSnipView">

        <p id="title"><strong> Title:</strong> {{title}}</p>  <br>
        <p id="description"> <strong> Description:</strong> {{description}} </p><br>
        <p id="language"><strong> Language: </strong>{{#language}}{{.}} | {{/language}} </p><br>
        <p id=code> <strong> Code:</strong> {{code}} </p><br>
        <p id=tags> <strong> Tags: </strong>{{tags}} </p><br>
 -->

    <form class="" action="/delete" method="post">
        <button type="submit" name="name" value="{{name}}">Delete</button>
    </form>
    <button type="button" name="button"><a href="/edit/{{name}}">Edit</a></button>
</div>
{{/snippet}}
