
<link rel="stylesheet" href="/main.css">
<a href="#">Search</a>

<div class="entryContainer">
    <h2>Welcome to CodeSnips. </h2>
    <table>

        <tr>
            <td id="login">

                <!-- <h6>Here, you can create, save, and store your favorite code snippets!</h6> -->

                <form class="loginForm" action="/login" method="post">
                    <legend>Sign in Here!</legend> <br>
                    <input type="text" name="username" value="" placeholder="your username"><br>
                    <input type="password" name="password" value="" placeholder="your password"><br>
                    <button type="submit" name="button">Log In Here</button>
                </form>


            </td>

            <td id="signup">
                <legend>Create and Account!</legend>

                <form class="" action="/signup" method="post">
                    <input type="text" name="username" value="" placeholder="Username"><br>
                    <input type="password" name="password" value="" placeholder="Password"><br>
                    <input type="text" name="firstName" value="" placeholder="First Name"><br>
                    <input type="text" name="lastName" value=""placeholder="Last Name"><br>
                    <input type="email" name="email" value=""placeholder="Email"><br>
                    <input type="text" name="avatar" value="" placeholder="Link an Avatar Image">
                    <button type="submit" name="button">Sign Up</button>
                </form>
            </td>
        </tr>
    </table>

</div>

<!--

<h4>
Don't have an account yet? <a href="/signup"><strong>Sign up here!</strong></a>
</h4> -->
