<link rel="stylesheet" href="/main.css">
<nav id= "homeNav">
    <a href="/">CodeSnips Home</a>
     <!--test-->
    <a href="/create">Create a Snippet</a>
    <a href="/logout">Logout</a>
</nav>



{{#allSnippets}}




<div class="homeSnippets">

<table>
    <tr>
        <td><h3>Title: </h3></td>
        <td><p>{{title}}</p></td>
    </tr>
    {{#description}}
    <tr>
        <td><h3>Description: </h3></td>
        <td><p>{{description}}</p></td>
    </tr>
    {{/description}}
    <tr>
        <td><h3>Language: </h3></td>
        <td><p>{{language}}</p></td>
    </tr>
    <tr>
        <td><h3>Code: </h3></td>
        <td><p><code>{{code}}</code></p></td>
    </tr>
    <tr>
        <td><h3>Tags: </h3></td>
        {{#tags}}<td> <a href="search/tags/{{.}}"><p>{{.}}</p> </a> </td>{{/tags}}
    </tr>

    {{#language}}
    <tr>
        <td><h3>Language: </h3></td>
        <td> <a href="search/language/{{language}}"><p>{{.}}</p> </a> </td>
    </tr>
    {{/language}}
</table>
<hr>



</div>


    {{/allSnippets}}
