{{#profile}}




<div class="snippetListing">



        <p> <strong> Title:</strong> {{title}} </p><br>
        {{#description}} <p><strong> description:</strong> {{.}} </p> <br>{{/description}}
        <p> <strong> Language:</strong> {{language}} </p><br>
        {{#code}} <p><strong> Code:</strong> {{.}} </p> <br>{{/code}}
        {{#tags}} <p><strong> Tags:</strong> {{.}} </p> <br>{{/tags}}


{{/profile}}
