<link rel="stylesheet" href="/main.css">
<nav>
    <a href="/">CodeSnips Home</a>
     <!--test-->
    <a href="/create">Create a Snippet</a>
    <a href="/logout">Logout</a>
</nav>



{{#allSnippets}}




<div class="allSnippets">



<table>
    <tr>
        <td><h3>Title: </h3></td>
        <td><p>{{title}}</p></td>
    </tr>
    {{#description}}
    <tr>
        <td><h3>Description: </h3></td>
        <td><p>{{description}}</p></td>
    </tr>
    {{/description}}
    <tr>
        <td><h3>Language: </h3></td>
        <td><p>{{language}}</p></td>
    </tr>
    <tr>
        <td><h3>Code: </h3></td>
        <td><p><code>{{code}}</code></p></td>

    </tr>

    <tr>
        <td><h3>Tags: </h3></td>
        {{#tags}}<td> <p>{{.}}</p>  </td>{{/tags}}
    </tr>



    {{#language}}
    <tr>
        <td><h3>Language: </h3></td>
        <td> <p>{{.}}</p>  </td>
    </tr>
    {{/language}}


</table>
<hr>



</div>


    {{/allSnippets}}


    <button type="button" name="button"><a href="/">Return Home </a></button>
